################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/api/FileContentIndex/728d153b-c1af-4310-a20d-a84c94df7082.vsidx
/.vs/api/FileContentIndex
